trimesh==4.2.3
accelerate==0.28.0
mesh2sdf==1.1.0
transformers==4.46.1
numpy==1.26.4
pyrender==0.1.45
tqdm
opencv-python==4.9.0.80
omegaconf==2.3.0
einops==0.7.0
timm
lightning==2.2
boto3
cython==0.29.36
tetgen==0.5.2
loguru
pytz
h5py
plyfile
pymeshlab
yacs
fvcore
easydict
libigl==2.5.1
scikit-learn
jsonargparse
ptlflow
imageio-ffmpeg==0.4.7
xformers==0.0.23